<?xml version="1.0"?>
<launch>
	<!-- send lwa urdf to param server -->
      <param name="robot_description" command="rosrun xacro xacro --inorder '$(find schunk_canopen_driver)/urdf/lwa4p_gripper_base.urdf.xacro'" />
      <param name="robot_description2" textfile="$(find schunk)/urdf/chuanci.urdf" />      
      <node name="rviz" pkg="rviz" type="rviz" args="-d $(find schunk)/config/chuanci.rviz" /> 

</launch>



