<?xml version="1.0" encoding="utf-8"?> 
<!--
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="lwa4p" >
       -->
<robot name="lwa4p" xmlns:xacro="http://www.ros.org/wiki/xacro" >
    
  	<!-- common stuff -->
 	<xacro:include filename="$(find schunk)/urdf/common.xacro" />
  	<xacro:include filename="$(find schunk)/urdf/materials.urdf.xacro" />
 	 <!--include filename="$(find cob_description)/gazebo/gazebo.urdf.xacro" /-->
	<!-- calibration -->
  	<xacro:include filename="$(find schunk)/urdf/calibration.urdf.xacro" />
  	<!-- schunk lwa4p -->
  	<xacro:include filename="$(find schunk)/urdf/lwa4p.urdf.xacro" />

  	<!-- dizuo 0.25m*2.5cm -->
	<link name="base_link">
		<visual>
		   <origin xyz="0 0 0.0125" rpy="0 0 0" />
		   <geometry>
			  <cylinder radius="0.25" length="0.025"/>
		   </geometry>
		   <material name="Schunk/DarkGrey" />
		</visual>
		<collision>
		   <origin xyz="0 0 0.0125" rpy="0 0 0" />
		   <geometry>
			  <cylinder radius="0.25" length="0.025"/>
		   </geometry>
		</collision>
		<inertial>
		   <origin xyz="0 0 0.0125" rpy="0 0 0"/>
		   <mass value="1000.0"/>
		   <inertia ixx="100.0"  ixy="0"  ixz="0" iyy="100.0" iyz="0" izz="100.0" />
		</inertial>
	</link>

	<!-- arm -->
  	<xacro:schunk_lwa4p name="arm" parent="base_link" has_podest="true" >
    	<origin xyz="0 0 0.025" rpy="0 0 0" />
  	</xacro:schunk_lwa4p>

</robot>
