<!--Prepared by Redsky Deng-->
<launch>
  <node name="Depth2Scan_R32" pkg="CDHF_Robot" type="Depth2Scan_R32"  />
  <node name="map_server" pkg="map_server" type="map_server" args="$(find CDHF_Robot)/map/map.yaml" output="screen"/>
  <include file="$(find CDHF_Robot)/launch/amcl_diff.launch" >
  </include> 
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find CDHF_Robot)/yaml/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find CDHF_Robot)/yaml/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find CDHF_Robot)/yaml/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find CDHF_Robot)/yaml/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find CDHF_Robot)/yaml/base_local_planner_params.yaml" command="load" />
  </node>
</launch>
